In [2]:
# 准备： `conda install pandas PIL`
# pip install sklearn
# 使用一个非常优秀的数据处理框架Pandas。
import pandas as pd

In [8]:
# 把loans.csv里面的内容读取出来，存入一个叫做df的变量里面。
df = pd.read_csv('loans.csv')
#看看df这个数据框的前几行，以确认数据读取无误
df.head()

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
0,C,C4,1,1,RENT,1.00,car,60 months,1,1,9.4,0.0,-1
1,F,F2,0,5,OWN,5.55,small_business,60 months,1,1,32.6,0.0,-1
2,B,B5,1,1,RENT,18.08,other,60 months,1,1,36.5,0.0,-1
3,C,C1,1,1,RENT,10.08,debt_consolidation,36 months,1,1,91.7,0.0,-1
4,B,B2,0,4,RENT,7.06,other,36 months,1,1,55.5,0.0,-1

In [9]:
# 统计一下总行数，看是不是所有行也都完整读取进来了。(46508, 13)
df.shape

(46508, 13)

In [5]:
#。依照机器学习领域的习惯，我们把特征叫做X，目标叫做y。
x = df.drop('safe_loans', axis=1)
y = df.safe_loans
# 一下特征数据X的形状：(46508, 12)
x.shape

(46508, 12)

In [7]:
# 我们再看看“目标”列。(46508,)
y.shape

(46508,)

In [10]:
# 我们来看看X的前几列。
x.head()

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee
0,C,C4,1,1,RENT,1.00,car,60 months,1,1,9.4,0.0
1,F,F2,0,5,OWN,5.55,small_business,60 months,1,1,32.6,0.0
2,B,B5,1,1,RENT,18.08,other,60 months,1,1,36.5,0.0
3,C,C1,1,1,RENT,10.08,debt_consolidation,36 months,1,1,91.7,0.0
4,B,B2,0,4,RENT,7.06,other,36 months,1,1,55.5,0.0

In [15]:

from sklearn.preprocessing import LabelEncoder
from collections import defaultdict
d = defaultdict(LabelEncoder)
x_trans = x.apply(lambda x: d[x.name].fit_transform(x))
x_trans.head()

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee
0,2,13,1,1,3,97,0,1,1,1,107,0
1,5,26,0,5,2,552,9,1,1,1,349,0
2,1,9,1,1,3,1805,8,1,1,1,388,0
3,2,10,1,1,3,1005,2,0,1,1,952,0
4,1,6,0,4,3,703,8,0,1,1,583,0

In [18]:
# 把数据随机拆分成训练集和测试集，在Python里只需要2条语句就够了。
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_trans, y, random_state=1)

In [ ]:
# 在使用anaconda写Python代码，运行
# from sklearn.cross_validation import train_test_split
# 时报错：
# ModuleNotFoundError: No module named ‘sklearn.cross_validation’
# 上网查阅资料后发现问题：
# sklearn.cross_validation是sklearn老版本的模块，新版本都迁移到了
# sklearn.model_selection

# 修改代码为
# from sklearn.model_selection import train_test_split
# 即可正常运行

In [19]:
# 我们看看训练数据集的形状 (34881, 12)
x_train.shape

(34881, 12)

In [20]:
x_test.shape

(11627, 12)

In [23]:
# 至此，一切数据准备工作都已就绪。我们开始呼唤Python中的scikit-learn软件包。决策树的模型，已经集成在内。只需要3条语句，直接调用就可以，非常方便。
from sklearn import tree
clf = tree.DecisionTreeClassifier(max_depth=3)
clf = clf.fit(x_train, y_train)

In [31]:
# 咱们把决策树画出来吧。
with open("safe-loans.dot", 'w') as f:
     f = tree.export_graphviz(clf,
                              out_file=f,
                              max_depth = 3,
                              impurity = True,
                              feature_names = list(x_train),
                              class_names = ['not safe', 'safe'],
                              rounded = True,
                              filled= True )

from subprocess import check_call
check_call(['dot','-Tpng','safe-loans.dot','-o','safe-loans.png'])

from IPython.display import Image as PImage
from PIL import Image, ImageDraw, ImageFont
img = Image.open("safe-loans.png")
draw = ImageDraw.Draw(img)
img.save('output.png')
PImage("output.png")

OSError: [Errno 2] No such file or directory